:host {
  text-align: center;
}

input {
  border: 1px solid gray;
  padding: 3px;
  border-radius: 5px;
  margin: 10px;
}

b {
  color: #2195f3;
  margin: 20px;
  font-size: 2rem;
}

span {
  margin: 10px;
  font-size: 2rem;
}
